body{
    background-color: #B58787;
    font: 15px normal Arial;
}

header{
    text-align: center;
    color: black;
   

}

footer p{
    text-align: center;
    font-style: italic;
    margin-top: 500px;
    position: fixed;
    margin-left: 500px;

}

.btn{
    margin-bottom: 500px;
    float: right;
    position: relative;
    margin: 0 10px;
    border-radius: 10%;
    font-family: arial;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 700;
    border:none;
    height: 10%;
    padding: 10px;
    cursor: pointer;

}

.logo{
    padding: 0%;
    width: 50px;
}
